.entry-page{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Jumbotron{
    border-radius: 5px;
    background-color: white;
}

.form-box{
    box-shadow: 0px 0px 15px -5px black;
}